terraform/modules/step-functions/definition.asl.json
{
  "Comment": "LDC Loan Review Workflow - Orchestrates the complete loan review process",
  "StartAt": "ValidateReviewType",
  "States": {
    "ValidateReviewType": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "reviewTypeValidation",
          "requestNumber.$": "$.requestNumber",
          "loanNumber.$": "$.loanNumber",
          "reviewType.$": "$.reviewType",
          "currentAssignedUsername.$": "$.currentAssignedUsername",
          "attributes.$": "$.attributes"
        }
      },
      "ResultPath": "$.validationResult",
      "Next": "CheckReviewTypeValid",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReviewTypeValidationError"
        }
      ]
    },
    "CheckReviewTypeValid": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validationResult.Payload.success",
          "BooleanEquals": true,
          "Next": "WaitForLoanDecision"
        }
      ],
      "Default": "ReviewTypeValidationError"
    },
    "ReviewTypeValidationError": {
      "Type": "Fail",
      "Error": "InvalidReviewType",
      "Cause": "Review type validation failed"
    },
    "WaitForLoanDecision": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckCompletionCriteria"
    },
    "CheckCompletionCriteria": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "completionCriteria",
          "requestNumber.$": "$.requestNumber",
          "loanNumber.$": "$.loanNumber"
        }
      },
      "ResultPath": "$.completionResult",
      "Next": "IsLoanDecisionComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CompletionCheckError"
        }
      ]
    },
    "IsLoanDecisionComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.completionResult.Payload.complete",
          "BooleanEquals": true,
          "Next": "DetermineLoanStatus"
        }
      ],
      "Default": "WaitForLoanDecision"
    },
    "CompletionCheckError": {
      "Type": "Fail",
      "Error": "CompletionCheckFailed",
      "Cause": "Failed to check completion criteria"
    },
    "DetermineLoanStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "loanStatusDetermination",
          "requestNumber.$": "$.requestNumber",
          "loanNumber.$": "$.loanNumber"
        }
      },
      "ResultPath": "$.statusResult",
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "Next": "RouteLoanDecision",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "StatusDeterminationError"
        }
      ]
    },
    "StatusDeterminationError": {
      "Type": "Fail",
      "Error": "StatusDeterminationFailed",
      "Cause": "Failed to determine loan status"
    },
    "RouteLoanDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "Approved",
          "Next": "CallVendPpa"
        },
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "Rejected",
          "Next": "CallVendPpa"
        },
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "Repurchase",
          "Next": "CallVendPpa"
        },
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "Reclass Approved",
          "Next": "PauseForReclassConfirmation"
        }
      ],
      "Default": "UnknownLoanStatus"
    },
    "UnknownLoanStatus": {
      "Type": "Fail",
      "Error": "UnknownLoanStatus",
      "Cause": "Unable to determine loan status"
    },
    "PauseForReclassConfirmation": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "CheckReclassStatus"
    },
    "CheckReclassStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "loanStatusDetermination",
          "requestNumber.$": "$.requestNumber",
          "loanNumber.$": "$.loanNumber"
        }
      },
      "ResultPath": "$.statusResult",
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "Next": "IsReclassConfirmed",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReclassConfirmationError"
        }
      ]
    },
    "IsReclassConfirmed": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "Reclass Approved",
          "Next": "PauseForReclassConfirmation"
        }
      ],
      "Default": "CallVendPpa"
    },
    "ReclassConfirmationError": {
      "Type": "Fail",
      "Error": "ReclassConfirmationError",
      "Cause": "Failed to check reclass status"
    },
    "CallVendPpa": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "vendPpaIntegration",
          "requestNumber.$": "$.requestNumber",
          "loanNumber.$": "$.loanNumber",
          "loanStatus.$": "$.statusResult.Payload.status"
        }
      },
      "ResultPath": "$.vendPpaResult",
      "Next": "CheckVendPpaSuccess",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "VendPpaError"
        }
      ]
    },
    "CheckVendPpaSuccess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vendPpaResult.Payload.success",
          "BooleanEquals": true,
          "Next": "LogAuditTrail"
        }
      ],
      "Default": "VendPpaError"
    },
    "VendPpaError": {
      "Type": "Fail",
      "Error": "VendPpaIntegrationFailed",
      "Cause": "Vend PPA API call failed"
    },
    "LogAuditTrail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "auditTrail",
          "requestNumber.$": "$.requestNumber",
          "loanNumber.$": "$.loanNumber",
          "stateChange": "WorkflowCompleted"
        }
      },
      "ResultPath": "$.auditResult",
      "Next": "WorkflowComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "WorkflowComplete"
        }
      ]
    },
    "WorkflowComplete": {
      "Type": "Succeed"
    }
  }
}