terraform/modules/step-functions/definition.asl.json
{
  "Comment": "LDC Loan Review Workflow - Orchestrates the complete loan review process",
  "StartAt": "ValidateReviewType",
  "States": {
    "ValidateReviewType": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "reviewTypeValidation",
          "RequestNumber.$": "$.RequestNumber",
          "LoanNumber.$": "$.LoanNumber",
          "ReviewType.$": "$.ReviewType",
          "ReviewStepUserId.$": "$.ReviewStepUserId",
          "Attributes.$": "$.Attributes"
        }
      },
      "ResultPath": "$.validationResult",
      "Next": "CheckReviewTypeValid",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReviewTypeValidationError"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "CheckReviewTypeValid": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validationResult.Payload.Success",
          "BooleanEquals": true,
          "Next": "WaitForLoanDecision"
        }
      ],
      "Default": "ReviewTypeValidationError"
    },
    "ReviewTypeValidationError": {
      "Type": "Fail",
      "Error": "InvalidReviewType",
      "Cause": "Review type validation failed"
    },
    "WaitForLoanDecision": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "registerCallback",
          "RequestNumber.$": "$.RequestNumber",
          "LoanNumber.$": "$.LoanNumber",
          "TaskToken.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.loanDecisionResult",
      "Next": "CheckCompletionCriteria"
    },
    "CheckCompletionCriteria": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "completionCriteria",
          "RequestNumber.$": "$.RequestNumber",
          "LoanNumber.$": "$.LoanNumber"
        }
      },
      "ResultPath": "$.completionResult",
      "Next": "IsLoanDecisionComplete",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CompletionCheckError"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "IsLoanDecisionComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.completionResult.Payload.Complete",
          "BooleanEquals": true,
          "Next": "DetermineLoanStatus"
        }
      ],
      "Default": "WaitForLoanDecision"
    },
    "CompletionCheckError": {
      "Type": "Fail",
      "Error": "CompletionCheckFailed",
      "Cause": "Failed to check completion criteria"
    },
    "DetermineLoanStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "loanStatusDetermination",
          "RequestNumber.$": "$.RequestNumber",
          "LoanNumber.$": "$.LoanNumber"
        }
      },
      "ResultPath": "$.statusResult",
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "Next": "RouteLoanDecision",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "StatusDeterminationError"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "StatusDeterminationError": {
      "Type": "Fail",
      "Error": "StatusDeterminationFailed",
      "Cause": "Failed to determine loan status"
    },
    "RouteLoanDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.Payload.LoanStatus",
          "StringEquals": "Approved",
          "Next": "CallVendPpa"
        },
        {
          "Variable": "$.statusResult.Payload.LoanStatus",
          "StringEquals": "Rejected",
          "Next": "CallVendPpa"
        },
        {
          "Variable": "$.statusResult.Payload.LoanStatus",
          "StringEquals": "Repurchase",
          "Next": "CallVendPpa"
        },
        {
          "Variable": "$.statusResult.Payload.LoanStatus",
          "StringEquals": "Reclass Approved",
          "Next": "PauseForReclassConfirmation"
        }
      ],
      "Default": "UnknownLoanStatus"
    },
    "UnknownLoanStatus": {
      "Type": "Fail",
      "Error": "UnknownLoanStatus",
      "Cause": "Unable to determine loan status"
    },
    "PauseForReclassConfirmation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "registerCallback",
          "RequestNumber.$": "$.RequestNumber",
          "LoanNumber.$": "$.LoanNumber",
          "TaskToken.$": "$$.Task.Token",
          "IsReclassConfirmation": true
        }
      },
      "ResultPath": "$.reclassConfirmationResult",
      "Next": "CallVendPpa"
    },
    "CallVendPpa": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_function_name}",
        "Payload": {
          "handlerType": "vendPpaIntegration",
          "RequestNumber.$": "$.RequestNumber",
          "LoanNumber.$": "$.LoanNumber",
          "LoanStatus.$": "$.statusResult.Payload.LoanStatus"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "ResultPath": "$.vendPpaResult",
      "Next": "CheckVendPpaSuccess",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "VendPpaError"
        }
      ]
    },
    "CheckVendPpaSuccess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vendPpaResult.Payload.Success",
          "BooleanEquals": true,
          "Next": "WorkflowComplete"
        }
      ],
      "Default": "VendPpaError"
    },
    "VendPpaError": {
      "Type": "Fail",
      "Error": "VendPpaIntegrationFailed",
      "Cause": "Vend PPA API call failed"
    },
    "WorkflowComplete": {
      "Type": "Succeed"
    }
  }
}